@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --scrollbarBg: rgb(255, 255, 255);
    --scrollbarThumb: #154ec1;
    --scrollbarWidth: 3px;
    --scrollbarBorder: 1px solid var(--scrollbarBg);
}

.scroll-container::-webkit-scrollbar {
    width: var(--scrollbarWidth);
}

.scroll-container::-webkit-scrollbar-track {
    width: var(--scrollbarWidth);
    background: var(--scrollbarBg);
    border-radius: var(--scrollbarBorderRadius);
}

.scroll-container::-webkit-scrollbar-thumb {
    width: var(--scrollbarWidth);
    background-color: var(--scrollbarThumb);
    border-radius: var(--scrollbarBorderRadius);
    border: var(--scrollbarBorder);
}


.pages .router-link-active {
    @apply !text-blue-600 font-bold
}

.va-modal-entry {
    /* Ваши собственные стили */
    display: none;
    /* Пример: скрыть элемент */
}

/* Убираем стрелки для всех input с типом number */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    /* Убираем стрелки в Firefox */
}

.va-scroll-container__content {
    height: 100% !important;
}

.thin-scroll {
    scrollbar-width: thin;
    scrollbar-color: rgb(44, 111, 255) white;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}